@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.1);
  @apply bg-primary/10;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 12px;
  @apply bg-primary/20;
}

.dark {
  ::-webkit-scrollbar-thumb {
    @apply bg-primary/30;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/40;
  }
}

.animate {
  @apply transition-all duration-500;
}

.mobile-px {
  @apply px-4;
}

.desktop-px {
  @apply md:px-16;
}

.glass-effect {
  @apply backdrop-filter backdrop-blur-lg bg-opacity-30 dark:bg-opacity-40;
}

/* Universal Padding for both Mobbile & Desktop */
.section-padding {
  @apply pt-24 pb-4 px-4 sm:px-8 md:px-16;
}

.grid-custom {
  @apply grid grid-cols-1 gap-4;
  grid-template-areas:
    "a"
    "c"
    "b";
}



@media (min-width: 768px) {
  .grid-custom {
    @apply grid grid-cols-2 grid-rows-2 gap-4;
    grid-template-areas:
      "a c c"
      "a b b";
  }
}

.area-a {
  grid-area: a;
}

.area-b {
  grid-area: b;
}

.area-c {
  grid-area: c;
}
